<div *ngIf="hero" class="app-hero-detail">
  <h4>{{hero.name | uppercase}} Details</h4>
  <div><span>ID: </span>{{hero.id}}</div>
  <div>
    <label>Name:
    </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>

  </div>
  <button class="btn btn-default" (click)="goBack()">Back</button>
  <button  class="btn btn-primary" (click)="save()">Save</button>
</div>
