/* HeroDetailComponent's private CSS styles */
.app-hero-detail {
  width: 400px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  font-weight: bold;
}
h4 {
  color: tomato;
  text-align: center;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  width: 100%;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-default {
  background-color: #ddd;
  color: #fff;
}
.btn-primary {
  background-color: tomato;
  color: #fff;
  margin-left: 10px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: rgb(39, 32, 32);
  color: #ccc;
  cursor: auto;
}
