/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #cd0b00;
  margin-bottom: 0;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #039be5;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #fff;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
